body {
  margin: 0;
  padding: 0;
}
.clockBox {
  /*margin: auto; */
  position: relative;
  left: 351px;
  padding: 10px;
  margin-top: 100px;
  width: 500px;
  height: 250px;
  background: #0a68ff;
}
.clockInterface {
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  background: white;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 10px;
}
#rightBox,
#topBox{
  position: absolute;
}
#rightS,
#bottomS{
  position: relative;
}
#rightS {
  left: 195px;
  top: -15px;
  width: 16px;
  height: 30px;
  background: gray;
  transform: skew(0deg , 30deg);
}
#bottomS {
  left: 103px;
  top: -20px;
  width: 100px;
  background: lightgray;
  height: 10px;
  transform: skew(60deg , 0deg);
  transition: all .1s;
}

#rightBox {
  width: 100px;
  height: 270px;
  background: #074fc1;
  transform: skew(0deg,-30deg);
  left: 871px;
  top: 71px;
}
#topBox {
  width: 520px;
  height: 58px;
  background: #5e9cff;
  transform: skew(-60deg,0deg);
  left: 401px;
  top: 42px;
}
input {
  outline: none;
  height: 38px;
  font-size: 16px;
  border: none;
  animation: color 5s infinite;
}
#snoozeB {
  position: relative;
  left: 94px;
  top: 10px;
}
#snoozeB button  {
  padding: 10px;
  background: white;
  padding: 0px;
  font-family: 'Anton', sans-serif;
  width: 100px;
  height: 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  transition: all .3s;
  outline: none;
}
#showTimeSet {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  font-size: 20px;
  animation: color2 5s infinite;
}
.timeSet button  {
  background: white;
  padding: 10px;
  font-family: 'Anton', sans-serif;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px 0px 2px lightgrey;
  transition: all .3s;
  outline: none;
}
button:hover {
  box-shadow: none;
}
label {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#time {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  color: #39ff14;
}
@keyframes color {
  0% {border: solid #39ff14 3px;}
  50% {border: solid white 3px;}
  100% {border: solid #39ff14 3px;}
}
@keyframes color2 {
  0% {background-color: rgba(255, 97, 97, .5)}
  50% {background-color: rgba(255, 97, 97, .8)}
  100% {background-color: rgba(255, 97, 97, 1)}
}
