body {
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
}
.clockBox {
  position: relative;
  left: 351px;
  margin-top: 100px;
  width: 520px;
  height: 270px;
  background: #0a68ff;
}
.clockInterface {
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  /*height: 100px;*/
  /*background: white;*/
  margin-bottom: 20px;
}
#am {
  font-size: 22px;
  font-weight: bold;
  color: #0545ad;
  font-family: 'Press Start 2P', cursive;
  animation: color 5s infinite;
}
#seconds {
  font-size: 16px;
  font-weight: bold;
  color: #0545ad;
  margin-bottom: 8px;
  margin-left: 3px;
  margin-right: 3px;
  font-family: 'Press Start 2P', cursive;
  animation: color 5s infinite;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;
}
#rightBox,
#topBox{
  position: absolute;
}
#rightS,
#bottomS{
  position: relative;
}
#rightS {
  left: 194px;
  top: -15px;
  width: 17px;
  height: 30px;
  background: #001b47;
  transform: skew(0deg , 30deg);
  transition: all .3s;
}
#bottomS {
  left: 103px;
  top: -20px;
  width: 100px;
  background: #033fa0;
  height: 10px;
  transform: skew(60deg , 0deg);
  transition: all .3s;
}

#rightBox {
  width: 100px;
  height: 270px;
  background: #074fc1;
  transform: skew(0deg,-30deg);
  left: 871px;
  top: 71px;
}
#topBox {
  width: 520px;
  height: 58px;
  background: #5e9cff;
  transform: skew(-60deg,0deg);
  left: 401px;
  top: 42px;
}
input {
  outline: none;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #02327f;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background: #074fc1;
  padding: 5px;
}
#snoozeB {
  position: relative;
  left: 94px;
  top: 10px;
  transition: all .3s;
}
#snoozeB button  {
  padding: 10px;
  background: #02327f;
  color: white;
  padding: 0px;
  font-family: 'Anton', sans-serif;
  width: 100px;
  height: 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}
#showTimeSet {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  font-size: 20px;
  animation: color2 5s infinite;
}
.timeSet button  {
  background: #02327f;
  color: white;
  padding: 10px;
  font-family: 'Anton', sans-serif;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 3px 3px 0px 3px #001b47;
  transition: all .3s;
  outline: none;
}
.timeSet button:active {
  transform: translateX(4px);
  box-shadow: 1px 1px 0px 1px darkgray;
}
#time {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  color: #0545ad;
  animation: color 5s infinite;
}
#date {
  font-size: 30px;
  font-weight: bold;
  color: #0545ad;
  text-align: center;
  margin-top: 10px;
  font-family: 'Press Start 2P', cursive;
}
#divider,
#divider2 {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #044fc9, #00163a);
  background-size: 400% 400%;
  animation: dividerColor 10s ease infinite;
  margin-bottom: 20px;
}
#divider2 {
  margin-top: 144px;
}
@keyframes dividerColor {
    0%{background-position:0% 47%}
    50%{background-position:100% 54%}
    100%{background-position:0% 47%}
}
/*@keyframes color {
  0% {color: #0545ad;}
  50% {color: #044fc9;}
  75% {color: #025df2;}
  80% {color: #0060ff;}
  100% {color: #0545ad;}
}*/
@keyframes color2 {
  0% {background-color: rgba(255, 97, 97, .5)}
  50% {background-color: rgba(255, 97, 97, .8)}
  100% {background-color: rgba(255, 97, 97, 1)}
}
